body{
margin: 0;
}
nav{
    background-color: #10243B;
    color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
    
}

li{
    display: inline;
    text-align: center;
    padding-left: 15px;
    
    
}

.fhnav{
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 10px;

}
.shnav{
    display: inline;
    color: rgb(162, 221, 232);
    font-weight: 2px; 
    font-family: 'Open Sans', sans-serif;
    float: right;
    padding-right: 10px;  
}
.endnav{
    float: right;
    
    
    
    
}

.navdiv{
    background-color: white;
    padding-top: 100%;
    padding-bottom: 100%;
    padding-right: 1px;
    display: inline;
}
.mlpng{
    vertical-align: top;
    float: right;
    
    
    
}
.simg{
    float: right;
    padding-left: 10px;
    padding-right: 10px; 
    
   
    
}
.endnav2{
    float: right;
    background-color: #005983;
    padding-bottom: 12px;
    padding-top: 21px;
    margin-top: -20px;

}
.ml{
    float: right;
    margin-top: -15px;
}
#hero{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0), transparent), url(images/graduation.jpg);
    width: 100vw;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover
    
    
}
#ecchs{
    height: 100px;
    width: 100%;
    

}
.top{
    width: 100vw;
    height: 8vh;
    background-color: #10243B;
    padding-top: 20px;
    text-align: center;
}
h2{
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;

}
#explorebox{
    display: inline-block;
    width: 24.5%;
    height: 400px;
    background-color: red;
    margin: 0px;
}
.plaza{
    background-image: url(images/patriots\ plaza.jpg);
    background-size: cover;
    background-position: center;
}
.college{
    background-image: url(images/college.png);
    background-size: cover;
    background-position: center;
}
.ccnn{
    background-image: url(images/ccnn.jpg);
    background-size: cover;
    background-position: center;
}
.live{
    background-image: url(images/ccnn\ live.png);
    background-size: cover;
    background-position: center;
}
#bottom{
    border-top: solid #a3dde8 8px;
    width: 100%;
    text-align: center;
    background-color: #10243B;
    overflow: hidden;
}
a{
    text-decoration: none;
    scroll-behavior: smooth;
}
#cchsgh{
    text-align: center;
    padding-top: 425px;
    color: #10243B
    

}
#glance{
    display: inline-block;
    width: 24.5%;
    height: 100%;

}
.money{
    
}
.carosel{
    width: 287.69px;
    height: 282px;
}

